body{
    background: #e2e2e2;
} 

.slider{
    width: 200px;
    height: 107px;
    border: 1px solid #969696;
    border-radius: 20px;
    box-shadow: 0px 0px 40px #F70000;
    font: 2em Arial;
    color: #333434;
    position: relative;
    left: 300px;
    top: 100px;
    overflow: visible; 
}

.slider .image{
    width: 200px;
    height: 107px;
    position: absolute;
    left: 0;
    opacity: 1;
    transition: left .4s ease;
    
}

